body{
			background: #13c1e5;		
		}
		#nav *{
			height: 80px;
			background: #fff;
		}
		.navbar-default{
			background: #fff;
			margin-bottom: 0;
		}
		h1{
			color: #FFC81B;
			font-family: sans-serif;
			font-size: 28px;
			text-align: center;
			font-weight: bold;
		}
		#h2{
			color: white;
			font-family: sans-serif;
			font-size: 22px;
			text-align: center;
			font-weight: bold;
			margin-top: 15px;
			margin-bottom: 20px;
		}
		#default{
			width: 350px;
			background: #3399ff;
			border: none;
		}
		.panel-default label{
			font-size: 16px;
			color:white;
		}
		#primary{
			border: none;
			height: 50px;
			width: 100%;
			background: #FFC81B;
			color: #3399ff;
			font-size: 18px;
			font-weight: bold;
		}
		#kpo{
			margin-top: 50px;
		}
		#cara{
			margin-top: 100px;
			color: white;
			font-size: 17px;
		}
		#row{
			margin-bottom: 100px;
		}
		#foot{
			background: #006fa0;
			border: none;
		}
		.navbar-default .navbar-text {
		    color: white;
		}
		.navbar-default #alamat {
		    color: white;
		    font-weight: bold;
		}
		#txt{
			font-size: 18px;
		}